<div class="urban-definition component">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div
            fxLayout.lt-sm="column"
            fxLayoutAlign="center center"
            class="bkoi-app"
        >
            <img src="assets/moving-car.jpg" alt="moving car" srcset="" />
            <!-- lodsdfsf -->
        </div>

        <div   class="applink-content">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div class="mt-1">

                    <p class="p-light-default">
                        Be it trade license tax or 
                        Holding tax or Birth  Certificate issue. 
                         Everything city corporation 
                        can monitor  from one single dashboard.  Search for
                        any house/building and  get Location pictures,
                        Holding Tax, Trade  License fee instantly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>