<div class="header">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <div fxFlex.lt-sm="100" fxFlex="54" fxLayoutAlign="center center">
        <img
        src="assets/Group 1880@2x.png"   alt="bkoi-home-dhaka" srcset="">
      </div>
  
      <div fxLayoutAlign="center center" class="header-form">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="header-title  header-p1">Mapping Dhaka</h1>
            <h1 class="header-title  header-p2">Through local lenses</h1>
          </div>
          <div class="bkoi-search">
            <form action="">
              <input type="search" placeholder="Search a location" >
              <mat-icon matSuffix>search</mat-icon>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>