<div class="bkoi-built-with component">
    <div fxLayout="column" >
  
      <!-- left panel  -->
      <div class="bkoi-app">
  
        <div fxLayout="row" fxLayoutAlign="start center">
  
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <h2 class="">
                These customers build with Barikoi.
              </h2>
  
              <!-- <div>
                    <button mat-button color="primary" fxLayout="row" fxLayoutAlign="center center">Get Started! 
                      <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down_circle</mat-icon>
                    </button>
                  </div> -->
  
            </div>
  
        </div>
  
      </div>
    
        <div fxLayout="column" fxLayoutAlign="center center">
  
          <div class="clients">
            <img src="assets/company-logos.jpg" alt="" srcset="">
          </div>
  
        </div>
  
    </div>
  </div>