.applink {
    .bkoi-app {
        img {
            width: 100%;
            margin-top: -3em;
        }
    }
    .applink-content {
        .rubikh3 {
            font-family: "Rubik", sans-serif;
            font-weight: 400;
            // font-size: 32px;
            opacity: 65%;
        }
        img {
            padding-top: 2em;
            max-width: 50%;
            // height: 60px;
        }

        p {
            // padding-left: 11.7em;
        }
    }
}