<div class="applink component">
    <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start center">
  
      <div fxLayout="column" fxLayoutAlign="end center" class="bkoi-app">
        <img src="assets/find-dhaka.png" alt="" srcset="">
        <!-- lodsdfsf -->
      </div>
  
      <div class="applink-content">
        <div fxLayout="column" fxLayoutAlign="start center">
          
          <div fxLayout="column" fxLayoutAlign="start start">
              <h3 class="rubikh3">Be it address or be it food <br>
                  Get everything in on app
                </h3>
              <h3 class="rubikh3">Find address easily! </h3>
            <img src="assets/GooglePlay.png" alt="google-play-badge" srcset="">
          </div>
          
        </div>
      </div>
  
    </div>
  </div>