<div class="bkoi-bus component">
  <div fxLayout="column">
    
    <div class="bkoi-app">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class=" home-business">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <h2 class="">
              Combining
              Mapping and data <br> to
              build better city.
            </h2>
          </div>
        </div>
      </div>
    </div>

    
  </div>



  <div fxLayout="column" fxLayoutAlign="start start" fx>
    <mat-card class="box-card">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="box">
          <img src="assets/smart_city.png" alt="smart-city" srcset="" />
        </div>

        <div class="bus-content-text">
          <legend class="card-legend">Smart City</legend>

          <p class="p-light-smaller card-p">
            Detailed data to improve <br> operations,
            engage residents <br> and support local
            communities.
          </p>

          <a href="#" class="">Learn More</a>
        </div>
      </div>
    </mat-card>

    <mat-card class="box-card">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        

        <div class="bus-content-text">
          <legend class="card-legend">Logistics Automation</legend>

          <p class="p-light-smaller card-p">
            Amaze your users with precise <br />
                  routing and planning. Grow your <br />
                  business with us.
          </p>

          <a href="#" class="">Learn More</a>
        </div>
        <div class="box">
          <img src="assets/logistics.png" alt="smart-city" srcset="" />
        </div>
      </div>
    </mat-card>

    <mat-card class="box-card">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="13px">
        <div class="box">
          <img src="assets/customer_map.png" alt="smart-city" srcset="" />
        </div>

        <div class="bus-content-text">
          <legend class="card-legend">Customer Mapping</legend>

          <p class="p-light-smaller card-p">
            Enabling Financial institutions <br> like banks to take data
                  driven <br>
                  decisions
          </p>

          <a href="#" class="">Learn More</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
